files:
  "/etc/systemd/system/caddy.service":
    mode: "000644"
    owner: root
    group: root
    content: |
      [Unit]
      Description=Caddy reverse proxy
      After=network-online.target
      Wants=network-online.target

      [Service]
      ExecStart=/usr/bin/caddy run --config /etc/caddy/Caddyfile
      ExecReload=/usr/bin/caddy reload --config /etc/caddy/Caddyfile
      TimeoutStopSec=5s
      LimitNOFILE=1048576
      Restart=on-failure

      [Install]
      WantedBy=multi-user.target
